@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'irs';
  src: url('./../public/fonts/IRANSansWeb_Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'irsB';
  src: url('./../public/fonts/IRANSansWeb_Bold.ttf');
  font-weight: bold;
}

* {
  font-family: 'irs';
  @apply text-gray-950 transition-all duration-200;
}

@layer base {
  .irs {
    font-family: 'irs';
  }

  .irsB {
    font-family: 'irsB';
  }

  .ltr {
    direction: ltr;
  }

  .btn-outline-white {
    @apply text-white border border-white flex justify-center items-center gap-2 py-2 px-7 rounded-full hover:bg-white hover:text-blue-500;
  }

  .btn-outline-blue {
    @apply text-blue-500 border border-blue-500 flex justify-center items-center gap-2 py-2 px-7 rounded-full hover:bg-blue-500 hover:text-white;
  }

  .mobile-menu__nav-link {
    @apply bg-white text-blue-500 shadow-sm w-full text-center text-xl p-3 rounded-md;
  }

  .mobile-menu__nav-link-active {
    @apply bg-blue-500 text-white shadow-sm w-full text-center text-xl p-3 rounded-md;
  }
}
